.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px dashed teal;
  animation: rotate 2s infinite linear;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}