.pagination {
  margin-top: 20px;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  margin: 0px 10px;
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid teal;
  border-radius: 5px;
  cursor: pointer;
  color: #3E2818;
  transition: 0.1s ease;
}

.pagination-list__item:hover {
  font-weight: 700;
  background-color: #2c2017;
  color: #fff;
}

.page-current {
  font-weight: 700;
  background-color: #2c2017;
  color: #fff;
}