.header {
  width: 100%;
  padding: 15px 5px;
  background-color: #774E2A
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  color: #fff;
}

.navbar__links {
  text-align: center;
  color: #fff;
}

.navbar__link {
  margin: 0px 10px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.navbar__link:hover {
  text-decoration: underline;
}